body{
	margin: auto;
		width: 60%;
		background: linear-gradient(45deg, 
        #a692ff 0%,    
        #7078eb 33%,  
        #8ed6ff 66%,    
        #5e6eca 100%    
    );
    background-size: 400% 400%;
    animation: gradientShift 8s ease-in-out infinite;
		color: rgb(255, 255, 255);
		font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		font-size: large;
}

h2{
	text-align: center;
	width: 300px;
}

@media only screen and (min-width: 800px) {



	body{
		margin: auto;
		width: 60%;
		color: rgb(255, 255, 255);

	}

	h1{
	text-align: center;
}

	main{
	
		display: grid;
		grid-gap: 1rem;
		
		grid-template-columns: 1fr 1fr 1fr 
	}
	h1{
	text-align: center;

background: linear-gradient(45deg, 
        #a692ff 0%,    
        #6069e1 33%,  
        #8ed6ff 66%,    
        #3047ca 100%    
    );

animation: gradientShift 8s ease-in-out infinite;

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

}
	
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}